@import "../../styles/colors.scss";

.navbar{
    width: 1000px;
    height: 96px;
    margin: 24px 0px !important;
    padding: 24px !important;
    border-radius: 20px;
    background: rgba(255,255,255,5%);
    box-shadow: rgba(0,0,0,25%) 0px 25px 50px -12px;
    transition:background 0.3s ease;

    h5{
        font-size: 32px;
        font-weight: 700;
        color: $white;
    }
    li{
        list-style: none;
        padding-right: 1rem;
        a{
            font-weight: 500;
            line-height: 24px;
            color: $white !important;
            letter-spacing: 0.5px;
        }
    }
    .nav-link{
        padding: 0%;
    }

    .offcanvas{
        background:$blue-gray-800;
    }

    .navbar-toggler-icon{
        width: 48px;
        height: 48px;
        background-image: url("../../assets/images/menu.svg");
    }
    .navbar-toggler{
        border: none;
    }
}

.navbar.scrolled {
    background: $blue-gray-800;
}