@import "../../styles/colors.scss";

.feature-section{
    padding: 80px 0px;
    .feature-desc{
        h4{
            padding-top: 10px;
            font-size: 40px;
        }
        .rectangle-box{
            position: relative;
            display: inline-block;
            margin-right: 0.25rem;
        }

        .rectangle-box::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid $orange-700;
            z-index: -1;
        }
    }
    h1{
        font-size: 20px;
        font-weight: 700;
        padding: 32px 0px 16px 0px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .para{
        padding: 32px 0px;
        width: 75% ;
        font-size: 18px;
        font-weight: 400;
    }
    a{
        color: $white;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
