$white:#FFFFFF;
$black:black;


// $blue-grey-50:

$blue-gray-200:#E2E8F0;
$blue-gray-400:#94A3B8;
$blue-gray-900:#0F172A;
$blue-gray-800:#141e37;


$purple-600:#9333EA;
$purple-400:#C084FC;
$purple-900:#581C87;
