@import "../../styles/colors.scss";

.testimonial-section{
    background:$purple-900;
    padding: 80px 0px;
    .testimonial-desc{
        h3{
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h2{
            font-size: 56px;
            font-weight:800;
            padding: 16px 0px 32px 0px;
            span{
                border-bottom: 5px solid $purple-400;
            }
        }

        a{
            color: $white;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
        .user-desc{
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
            }
        }
    }
}